.grid {
    border: 10px;
    border-color: black;
}

.color{
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-right: 5px;
  margin-left: 15px;
}

.legend{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.desc{
  font-size: 15px;
  margin-top: 0;
}

.nav{
  padding: 10px;
  background-color: greenyellow;
  font-family: Verdana;
  text-align: center;
  margin-bottom: 10px;
}

p{
  display: inline-block;
  margin-inline: 10px;
}

button{
  font-family: inherit;
  font-size: 20px;
  margin-inline: 10px;
}

h1{
  display: inline-block;
  margin-inline: 10px;
}

body{
  background-color: rgb(218, 218, 218);
}

.switches{
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.switchtext{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.switch {
  --button-width: 3.5em;
  --button-height: 1.5em;
  --toggle-diameter: 1.2em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #4296f4;
  text-align: center;
 }
 
 .slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
  text-align: left;
 }
 
 .slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
 }
 
 .switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
 }
 
 .switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 }
 
 .switch input[type="checkbox"] {
  display: none;
 }
 
 .switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
 }
 
 .switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
 }
 